
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*inline expression statement*@
<p>Today date and Time is: @DateTime.Now</p>
<p>This Year is @DateTime.Now.Year</p>

@*Declaring variables*@

@{
    string name = "Hello World";
    var TodaysTime = DateTime.Now.ToLongTimeString();
}

<h3>Website Name is : @name</h3>
<h2>Todays time is : @TodaysTime</h2>

@*conditional statements*@

@{
    int marks = 80;

    if (marks >= 80)
    {
        <h2>Your grade is A-1</h2>
    }
    else
    {
        <h2>Your grade is A</h2>
    }
}

@*switch case*@
@{
    string fruit = "grapes";
    switch (fruit)
    {
        case "banana":
            <h2>You have Selected BANANA</h2>
            break;

        case "kiwi":
            <h2>You have Selected KIWI</h2>
            break;

        case "apple":
            <h2>You have Selected APPLE</h2>
            break;

        case "watermelon":
            <h2>You have Selected WATERMELON</h2>
            break;


        case "strawberry":
            <h2>You have Selected STRAWBERRY</h2>
            break;

        default:
            <h1>Invalid Fruit</h1>
            break;

    }
}

@*for loop*@

@{
    for (int i = 1; i < 5; i++)
    {
        <p>@i</p>
    }
}

@*for each*@

@{

    string[] sports = { "football", "cricket", "hockey", "baseball", "kabaddi" };
    foreach (string i in sports)
    {
        <p>@i</p>
    }
}